services:
  # service:
  #   container_name: go_service
  #   image: go-server:latest
  #   restart: always
  #   environment:
  #     PORT: 80
  #     MONGO_URI: mongodb://root:root@localhost:27017/
  #   ports:
  #     - 80:80
  #   depends_on:
  #     - mongo
  mongo:
    container_name: mongodb
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - 27017:27017
